*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    justify-content: center;

}
div{
    font-style: italic;
    font-family: serif;
    font-size: 30px;
}